/*=====================================*/
/*  ABOUT BASE
/*=====================================*/

.ab-dir{
    display: flex;
    align-items: center;
    flex-direction: column;
    --dir-gap: 12px;
    gap: var(--dir-gap);
    margin: 8px 32px;
    padding: 16px;
    background-color: #22282E;

    font-family: "DM Sans";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    color: white;
}

@media (max-width: 1000px) {
    .ab-dir{
        margin: 8px 16px;
    }
}

@media (max-width: 640px){
    .ab-dir{
        font-size: 0.95rem;
        line-height: 1.15rem;
    }
}
@media (max-width: 428px) {
    .ab-dir{
        margin-left: 0px;
        margin-right: 0px;
    }
}

/*------------------------------*/

.ab-name{
    color: #78EBD1;
    font-weight: 600;
}

.ab-sub{
    color: #96B5AE;
    font-weight: 500;
}

.ab-inbetween{
    width: 100%;
    max-width: 900px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/*=====================================*/
/*  ABOUT PART 1
/*=====================================*/

.ab-1,
.ab-2,
.ab-inbetween,
.ab-2-pics{
    max-width: 950px;
}

.ab-1-thin,
.ab-1-wide,
.ab-2-thin,
.ab-2-wide{
    width: 100%;
    height: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.ab-1-thin,
.ab-2-thin{
    padding-top: 5px;
    display: inline-flex;
    flex-wrap: wrap;
}

.ab-1-thin div:has(img){
    width: 30%;
    position: relative;
}

.ab-2-thin div:has(div > img){
    width: 50%;
    position: relative;
}

.ab-1-thin img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: 50% 20%;
}

.ab-2-thin img{
    width: 49%;
    height: 100%;
    position: absolute;
    object-fit:cover;
}

.ab-2-thin div:has(img):last-of-type > img{
    left: 51%;
}

/*-- paragraph stuff--------------*/
.ab-1-thin p,
.ab-1-wide p,
.ab-2-thin p,
.ab-2-wide p{
    margin: 0px;
    margin-bottom: 0.5lh;
    margin-top: 0.5lh;

    width: 100%;
}

.ab-1-thin p,
.ab-1-wide p{
    padding-left: 40px;
}

.ab-2-thin p{
    padding-right: 40px;
}

.ab-1-thin p:first-of-type,
.ab-2-thin p:first-of-type{
    margin-top: 0.3lh;
}

.ab-1-thin p:last-of-type,
.ab-2-thin p:last-of-type,
.ab-1-wide p:last-of-type{
    margin-bottom: 0.3lh;
}

.ab-1-wide p,
.ab-2-wide p{
    padding-left: 0px;
    display: none;
}

.ab-1-thin > div:has(p){
    width: 70%;
}

.ab-2-thin > div:has(p){
    width: 50%;
}

.ab-2-pics{
    display: none;
    justify-content: center;
    gap: 1%;
    height: 300px;
    max-height: fit-content;
    width: 100%;
}

.ab-2-pics > div{
    height: 100%;
    width: 50%;
    max-width: 250px;
}
.ab-2-pics img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*=====================================*/
/*  ABOUT PART 1 - RESIZING
/*=====================================*/
@media (max-width: 950px){
    .ab-1-wide p:nth-last-of-type(-n+1){
        display: block;
    }
    .ab-1-thin p:nth-last-of-type(-n+1){
        display: none;
    }
    .ab-1-thin div:has(img){
        width: 25%;
    }
    .ab-1-thin > div:has(p){
        width: 75%;
    }
    .ab-1-thin p{
        padding-left: 30px;
    }
}

@media (max-width: 780px){
    .ab-1-wide p:nth-last-of-type(-n+2){
        display: block;
    }
    .ab-1-thin p:nth-last-of-type(-n+2){
        display: none;
    }
    .ab-1-thin div:has(img){
        width: 35%;
    }
    .ab-1-thin > div:has(p){
        width: 65%;
    }
}

@media (max-width: 560px){
    .ab-1-thin div:has(img){
        width: 40%;
    }
    .ab-1-thin > div:has(p){
        width: 60%;
    }
    .ab-1-thin p{
        padding-left: 20px;
    }
}

@media (max-width: 500px){
    .ab-1-thin div:has(img){
        width: 50%;
    }
    .ab-1-thin > div:has(p){
        width: 50%;
    }
    .ab-1-wide p:nth-last-of-type(-n+3){
        display: block;
    }
    .ab-1-thin p:nth-last-of-type(-n+3){
        display: none;
    }
    .ab-1-thin p:first-of-type{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width: 428px){
    .ab-1-thin,
    .ab-2-thin,
    .ab-1-wide,
    .ab-2-wide,
    .ab-inbetween{
        padding-left: 2px;
        padding-right: 2px;
    }
}



/*=====================================*/
/*  ABOUT PART 2 - RESIZING
/*=====================================*/
@media (max-width: 900px){
    .ab-2-wide p:nth-last-of-type(-n+1){
        display: block;
    }
    .ab-2-thin p:nth-last-of-type(-n+1){
        display: none;
    }
    .ab-2-thin p{
        padding-right: 30px;
    }
}
@media (max-width: 730px){
    .ab-2-wide p{
        display: block;
    }
    .ab-2-thin{
        display: none;
    }
    .ab-2-pics{
        display: flex;
    }
}
@media (max-width: 500px){
    .ab-2-pics{
        height: 200px;
        gap: 2%;
    }
}
@media (max-width: 360px){
    .ab-2-pics{
        height: 150px;
    }
}



/*=====================================*/
/*  PROGRAM EXPERIENCE (ab-p)
/*=====================================*/

.ab-p{
    width: 100%;
    height: fit-content;
    max-width: 975px;
    padding: 10px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    gap: 1%;
    row-gap: 4px;

    margin-top: 7px;
    
    background-color: #1b2025;
    border-radius: 6px;
}

.ab-p-title{
    width: 98%;
    height: auto;
    padding-bottom: 5px;
    margin-bottom: 2px;
    color: #ffffff;

    font-family: "Noto Sans KR";
    font-weight: 500;
    font-size: 1.1rem;

    border-bottom: #424746 2px solid;
}

.ab-pi{
    width: 24%;
    height: fit-content;
    display: flex;
    flex-direction: row;

    cursor: pointer;
}

.ab-pi-logo{
    width: 52px;
    height: auto;
    padding: 6px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.ab-pi-logo img{
    width: 100%;
    aspect-ratio: 1;
    
    filter: drop-shadow(1px 1px 0px #00000054) 
            drop-shadow(-1px 1px 0px #00000054)
            drop-shadow(1px -1px 0px #00000054)
            drop-shadow(-1px -1px 0px #00000054);
}

.ab-pi-text{
    color: #cde0dc;
    padding: 6px;
}

.ab-pi-text > div{
    color: white;
    font-weight: 600;
    line-height: 110%;
    margin-bottom: 2px;
}

.ab-pi-text > div > span{
    text-wrap: nowrap;
}

.ab-pi-text > div > span::after{
    content: "";
    color: #c4ddd9;
    opacity: 50%;
    display: inline-block;
    margin-left: 6px;
    width: 0.7lh;
    height: 0.7lh;
    background: currentColor;
    flex-shrink:0;

    mask-image: url("data:image/svg+xml; utf8, <svg xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\"><path d=\"M19 19H5V5h7V3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z\"/></svg>");
    mask-position: center center;
    mask-size: contain;
    mask-repeat: no-repeat;

    text-decoration: none;

    transition: opacity 0.05s;
}

.ab-pi:hover > .ab-pi-text > div > span::after{
    opacity: 70%;
}


@media (max-width:1070px){
    .ab-pi{
        width: 32%;
    }
}
@media (max-width:800px){
    .ab-pi{
        width: 49%;
    }
}

@media (max-width:640px){
    .ab-p-title{
        font-size: 1rem;
    }
    .ab-pi{
        font-size: 0.9rem;
    }
    .ab-pi-text > div{
        line-height: 100%;
    }
    .ab-pi-logo{
        width: 46px;
    }
}

@media (max-width:448px){
    .ab-pi{
        width: 100%;
    }
    .ab-p{
        row-gap:2px;
    }
}



/* ----------- colors for expertise -----------*/
.ab-pi-text > span{
    font-weight: 550;
    margin-left: 2px;
}
span.ab-pi-expert{
    color: #78EBD1;
}
span.ab-pi-adv{
    color: #8bc0b4;
}
span.ab-pi-inter{
    color: #87a19c;
}
span.ab-pi-begin{
    color: #7e8382;
}