/*=====================================*/
/*  FOOTER
/*=====================================*/
footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    padding: 18px 0px 14px;

    font-family: "DM Sans";
    font-weight: 500;
    font-size: 0.8rem;
    color: #647079;
    text-align: center;

    line-height: 0.9lh;

    flex-grow: 1;
    cursor: default;
}

@media (max-width:550px){
    footer{
        font-size: 0.7rem;
    }
}
